body {
  margin: 0;
  padding: 0px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  min-width: 400px;
  background-color: #e9ecef;
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #e5e5e5;
}

input:focus {
  outline: none;
  background-color: #ffffff;
}

button {
  font-family: "poppins";
  background-color: #fca311;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fb8500;
}

#delete-btn {
  background-color: #dc3545;
  color: white;
  margin-top: 10px;
}

#delete-btn:hover {
  background-color: #c82333;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 10px;
}

a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #fca311;
}

main {
  border: 2px solid #f77f00;
  padding: 20px;
  margin: 0;
  background-color: #14213d;
}
